<form>
    <h2>Novo jogo</h2>
    <mat-form-field class="form">
      
        <mat-label>
            Titulo
        </mat-label>
        <input matInput [(ngModel)]="game.title" type="text" name="nome" placeholder="...">
    
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>
            Descrição
        </mat-label>
        <input matInput [(ngModel)]="game.description" type="text" name="nome" placeholder="...">
        
        
    </mat-form-field>
    <mat-form-field class="form">
    <mat-label>
        Produtor
    </mat-label>
    <input matInput [(ngModel)]="game.producer" type="text" name="nome" placeholder="...">
    </mat-form-field>

    <div class="buttons">
        <button mat-raised-button color="primary" (click)="create()" class="criar" >Criar</button>
        <button mat-raised-button color="warn" (click)="cancel()" class="cancelar">Cancelar</button>
    </div>
</form>